@font-face {
    font-family: 'OpenSans';
    src: url('../../assets/webfonts/opensans_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans Normal';
    src: url('../../assets/webfonts/opensans_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans Light';
    src: url('../../assets/webfonts/opensans_light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.title-style {
    font-family: 'OpenSans';
    color: rgb(163, 174, 208);
}

.option-text-info {
    margin-left: 8px;
    font-family: 'OpenSans Normal';
    color: #70778C;
}

.icon-style {
    color: #414759;
}

.icon-header-style {
    color: #70778C;
}

.see-more {
    color: rgb(163, 174, 208);
    font-family: 'OpenSans Light';
}

.drop-custom-item {
    cursor: pointer;
}

ul.responsive-list {
  min-width: 400px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.notif-item {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  cursor: pointer;
}

.text-notif {
  font-size: 12px;
  font-family: 'OpenSans Normal';
  color: #70778C;
}

.text-date-notif {
  font-size: 12px;
  font-family: 'OpenSans Normal';
  color: #70778C;
  text-align: right;
}

.title-account-style {
  font-size: 12px;
  font-family: 'OpenSans Normal';
  color: #70778C;
}

.divider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 0.5rem 0;
  width: 100%;
}

.see-more {
  display: block;
  text-align: center;
  font-weight: bold;
  color: #007bff;
}

.no-notifications-available {
  font-size: 12px;
  font-family: 'OpenSans Normal';
  color: #70778C;
}
